* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}

.container {
    width: 1400px;
    margin: auto;
}

.header {
    background-color: #fff;
    margin: 20px 0;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 5px;
    align-items: center;
    text-align: center;
    padding: 5px 0;
}

.menu__logo {
    width: 160px;
    height: 50px;
    margin-right: 25px;
}

.menu__logo img {
    width: 100%;
    height: 100%;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1px;
    align-items: center;
    text-align: center;
}

.nav__item {
    list-style-type: none;
    border-bottom-width: 5px;
}

.nav__item a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    padding: 12px 0;


}

.nav__item a i {
    padding-left: 15px;
    color: #333;
    font-size: 10px;
}

.menu__buttons i {
    color: #ccc;
    font-size: 15px;
    margin-left: 40px;
}

/* main */
.main {
    background-color: #fff;
    padding: 20px;
}

.main__menu {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-auto-rows: auto;
    margin-bottom: 25px;
}

.main__title h1 {
    text-transform: uppercase;
    color: #fff;
    background-color: #7F8C8D;
    padding: 15px 20px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-size: 18px;
}

.main__sort {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5px;
    align-items: center;
    text-align: center;
}

.main__list {
    list-style-type: none;
    height: 65px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 15px;
    margin: 0 5px;
    color: #fff;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main__list:hover {
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

.main__list:nth-child(1) {
    background-color: #16a085;
}

.main__list:nth-child(2) {
    background-color: #336699;
}

.main__list:nth-child(3) {
    background-color: #2ECC71;
}

.main__list:nth-child(4) {
    background-color: #336699;
}

.main__list:nth-child(5) {
    background-color: #336699;
}

.main__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
}

.main__item--big {
    grid-column: span 2;
    grid-row: span 2;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__item:nth-child(29) {
    background-image: url("../img/1.jpg");
    display: none;
}

.main__item:nth-child(1) {
    background-image: url("../img/16.webp");
}

.main__item:nth-child(6) {
    background-image: url("../img/17.webp");
}

.main__item:nth-child(7) {
    background-image: url("../img/18.webp");
}

.main__item:nth-child(13) {
    background-image: url("../img/18.webp");
}

.main__item:nth-child(12) {
    background-image: url("../img/12.jpg");
}

.main__item:nth-child(15) {
    background-image: url("../img/12.jpg");
}

.main__item:nth-child(16) {
    background-image: url("../img/13.jpg");
}

.main__item:nth-child(18) {
    background-image: url("../img/16.webp");
}

.main__item:nth-child(23) {
    background-image: url("../img/12.jpg");
}

.main__item:nth-child(25) {
    background-image: url("../img/19.webp");
}

.main__item:nth-child(30) {
    background-image: url("../img/20.webp");
}

.main__item:nth-child(32) {
    background-image: url("../img/13.jpg");
}

.main__item:nth-child(31) {
    background-image: url("../img/13.jpg");
}

.main__item:nth-child(33) {
    background-image: url("../img/14.jpg");
}

.main__item:nth-child(41) {
    background-image: url("../img/15.jpg");
}

.main__item:nth-child(36) {
    background-image: url("../img/9.jpg");
}

.main__item:nth-child(41) {
    background-image: url("../img/3.jpg");
}

.main__item:nth-child(42) {
    background-image: url("../img/13.jpg");
}

.main__item:nth-child(43) {
    background-image: url("../img/10.jpg");
}

.main__item:nth-child(44) {
    background-image: url("../img/13.jpg");
}

.main__item:nth-child(47) {
    background-image: url("../img/12.jpg");
}

.main__item:nth-child(50) {
    background-image: url("../img/15.png");
}

.main__item--small {
    background-image: url("../img/1.jpg");
}

/* other */
.other-secttion {
    margin: 25px 0;
}

.other {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(220px, auto);
    grid-gap: 10px;
}

.other__item {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    color: #fff;
    text-align: center;
}

.other__title {
    padding: 10px 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    font-weight: 400;
    font-size: 18px;
}

.other__content {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.other__content h3 {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 40px;
}

.description {
    font-size: 12px;
    margin-bottom: 30px;
}

.other__chart {
    width: 100%;
    height: 30px;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other__chart:nth-child(1) .progress {
    background-color: rgba(247, 165, 59, 0.9);
    width: 60%;
}

.other__chart:nth-child(1) .progress .name {
    background-color: #f7a53b;
}

.other__chart:nth-child(2) .progress {
    background-color: rgba(39, 174, 96, 0.9);
    width: 90%;
}

.other__chart:nth-child(2) .progress .name {
    background-color: #27AE60;
}

.other__chart:nth-child(3) .progress {
    background-color: rgba(250, 110, 110, 0.9);
    width: 70%;
}

.other__chart:nth-child(3) .progress .name {
    background-color: #FA6E6E;
}

.other__chart:nth-child(4) .progress {
    background-color: rgba(51, 102, 153, 0.9);
    width: 65%;
}

.other__chart:nth-child(4) .progress .name {
    background-color: #336699;
}

.progress {
    height: 100%;
    display: flex;
    align-items: center;
}

.name {
    padding: 2px 20px;
}

.percentage {
    padding-right: 10px;
    color: #000;
}

.other__chart:not(:last-child) {
    margin-bottom: 10px;
}

.location {
    text-transform: uppercase;
    background-color: rgba(247, 165, 59, 0.9);
    color: #fff;
    font-size: 20px;
    padding: 5px;
}

.btn {
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    border: 4px solid #fff;
    transition: all 0.3 s ease-in;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.social {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 8px 0;
}

.social:nth-child(1) {
    background-color: #3b5998;
}

.social:nth-child(2) {
    background-color: #00aced;
}

.social:nth-child(3) {
    background-color: #dd4b39;
}

.social:nth-child(4) {
    background-color: #007bb6;
}

.social:not(:last-child) {
    margin-bottom: 10px;
}

.share {
    margin-left: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.status {
    margin-bottom: 25px;
}

.flex {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.status h5 {
    font-size: 25px;
    margin-bottom: 5px;
}

/* footer */
.footer-section {
    background-color: rgba(0, 0, 0, 0.9);
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    padding: 1px 0;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    font-size: 12px;
    color: #fff;
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    text-align: center;
}

.footer__list-item {
    list-style-type: none;
    padding: 20px 0;
    border-bottom-width: 5px;
    cursor: pointer;
}

.footer__list-item a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.footer__list-item:nth-child(1) {
    border-bottom: 3px solid #2ECC71;
}

.footer__list-item:nth-child(1):hover {
    background-color: #2ECC71;
}

.footer__list-item:nth-child(2) {
    border-bottom: 3px solid #16a085;
}

.footer__list-item:nth-child(2):hover {
    background-color: #16a085;
}

.footer__list-item:nth-child(3) {
    border-bottom: 3px solid #3498db;
}

.footer__list-item:nth-child(3):hover {
    background-color: #3498db;
}

.footer__list-item:nth-child(4) {
    border-bottom: 3px solid #336699;
}

.footer__list-item:nth-child(4):hover {
    background-color: #336699;
}

.footer__list-item:nth-child(5) {
    border-bottom: 3px solid #336699;
}

.footer__list-item:nth-child(5):hover {
    background-color: #336699;
}

.footer__list-item:nth-child(6) {
    border-bottom: 3px solid #336699;
}

.footer__list-item:nth-child(6):hover {
    background-color: #336699;
}

/* media */
@media only screen and (max-width: 1400px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

    .nav,
    .menu__buttons {
        display: none;
    }

    .footer__list {
        display: none;
    }

    .footer {
        padding: 20px 0;
    }

    .menu__logo {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1096px) and (max-width: 1306px) {
    .main__item:nth-child(29) {
        display: block;

    }
}

@media only screen and (max-width: 678px) {
    .main__sort {
        display: none;
    }
}

@media only screen and (max-width: 427px) {
    .main__item--big {
        grid-column: span 1;
        grid-row: span 1;
    }
}